<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}

    <hr> <!-- Add a horizontal line -->
    <footer>
        <p><img src="{% static 'images/phone.png' %}" alt="phone">  +421 949 610 003</p>
        <p><img src="{% static 'images/email.png' %}" alt="mail">  pat.kredatus@gmail.com</p>
        <p>chaticka s.r.o.</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>