{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
    <title>{% trans 'Objednávka' %}</title>
{% endblock %}

{% block content %}
<div class="centered-container-column">
    <h1 class="page-title">{% trans 'Objednávka' %}</h1>

    <h3>{% trans 'Termín' %}: {{ first_date }} - {{ last_date }}  ({{ nights }} {{ night_text }})</h3>

    <form method="post">
        {% csrf_token %}
        <label for="id_name_surname">{% trans 'Meno a priezvisko' %}:</label>
        {{ form.name_surname }}
        {{ form.name_surname.errors }}
        <br>
        <label for="id_email">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
        <label for="id_phone">{% trans 'Telefón' %}:</label>
        {{ form.phone }}
        {{ form.phone.errors }}
        <br>
        <label for="id_address">{% trans 'Ulica' %}:</label>
        {{ form.address }}
        {{ form.address.errors }}
        <br>
        <label for="id_city">{% trans 'Mesto' %}:</label>
        {{ form.city }}
        {{ form.city.errors }}
        <br>
        <label for="id_postal">{% trans 'PSČ' %}:</label>
        {{ form.postal }}
        {{ form.postal.errors }}
        <br>
        <input class="checkout-submit-button" type="submit" value="{% trans 'Prejsť na platbu' %}">
    </form>
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}