{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Domov</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
{% endblock %}

{% block content %}

    <div class="slider">
        {% for photo in photos %}
            <div><img src="{{ photo.photo.url }}" alt="Slide"></div>
        {% endfor %}
    </div>

    <hr>
    <footer>
        <p><img src="{% static 'images/phone.png' %}" alt="phone">  +421 949 610 003</p>
        <p><img src="{% static 'images/email.png' %}" alt="mail">  pat.kredatus@gmail.com</p>
        <p>chaticka s.r.o.</p>
    </footer>

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src='{% static "scripts/homepage.js" %}'></script>
{% endblock %}