<nav class="navbar">
  <div class="navbar-container">
    <a href="{% url 'homepage' %}" class="navbar-button" title="Domov"><i class="fa-light fa-cabin"></i></a>
    <a href="#" class="navbar-button" onclick="smoothScroll('reservations')">Rezervácia</a>
    <a href="#" class="navbar-button" onclick="smoothScroll('gallery')">Galéria</a>
    <a href="#" class="navbar-button" onclick="smoothScroll('footer')">Kontakt</a>
    <a href="#" class="navbar-button" onclick="scrollToTop()" title="Späť na začiatok"><i class="fa-solid fa-arrow-up-to-line"></i></a>
  </div>
</nav>