{% extends 'base.html' %}

{% block extra_head %}
    <title>{% trans 'Zhrnutie' %}</title>
{% endblock %}

{% block content %}
<div class="centered-container-column">
    <h1 class="page-title">{% trans 'Zhrnutie a platba' %}</h1>

    <table class="order-table">
        <tr>
            <td><strong>{% trans 'Meno a Priezviko' %}:</strong></td>
            <td>{{ order.name_surname }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Od' %}:</strong></td>
            <td>{{ order.date_from|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Do' %}:</strong></td>
            <td>{{ order.date_to|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ order.email }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Telefón' %}:</strong></td>
            <td>{{ order.phone }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Ulica' %}:</strong></td>
            <td>{{ order.address }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Mesto' %}:</strong></td>
            <td>{{ order.city }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'PSČ' %}:</strong></td>
            <td>{{ order.postal }}</td>
        </tr>
        <tr>
            <td><strong>{% trans 'Cena' %}:</strong></td>
            <td>{{ order.price }} €</td>
        </tr>
    </table>
    {{ paypal.render }}

</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}